<mat-card appearance="outlined" style="margin: 5px;">
  <mat-card-content>
    <mat-form-field style="margin: 5px;" appearance="outline">
        <mat-label>Part Name</mat-label>
        <input matInput [formControl]="partName"  value="">
    </mat-form-field>
    <mat-checkbox style="margin: 5px;" [formControl]="isAutoApprove"> Auto Approve</mat-checkbox>
    <button style="margin: 5px;" mat-flat-button color="primary" (click)="CreatePart()" >Create</button>
  </mat-card-content>
</mat-card>
<mat-card appearance="outlined" style="margin: 5px;">
  <mat-card-content>
    <mat-form-field appearance="outline" style="margin: 5px;">
      <mat-label>Select Part</mat-label>
      <mat-select (selectionChange)="onSelectChange()" [formControl]="selectedPart" >
        @for (part of fieldParts; track $index) {
          <mat-option [value]="part.id">{{part.name}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" style="margin: 5px;">
      <mat-label>Select Date</mat-label>
      <input matInput [matDatepicker]="picker1" [formControl]="bookingDate">
      <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline" style="margin: 5px;">
      <mat-label>From Time</mat-label>
      <input [formControl]="startTime" matInput [matTimepicker]="picker">
      <mat-timepicker-toggle matIconSuffix [for]="picker"/>
      <mat-timepicker #picker/>
    </mat-form-field>
    <mat-form-field appearance="outline" style="margin: 5px;">
      <mat-label>To time</mat-label>
      <input [formControl]="endTime" matInput [matTimepicker]="picker2">
      <mat-timepicker-toggle matIconSuffix [for]="picker2"/>
      <mat-timepicker #picker2/>
    </mat-form-field>
    <button mat-flat-button style="margin: 5px;" color="primary" (click)="BookNow()" >Book Now</button>
  </mat-card-content>
</mat-card>
<mat-card style="margin: 5px;" appearance="outlined">
  <mat-card-content>
    <app-calender [events]="calendarEvents" ></app-calender>
  </mat-card-content>
</mat-card>